.carro {
	font-size: 60px;
	color: black;
}

.navbar-nav>li>a {
	color: black;
	font-size: 17px;
}

.navbar-nav>li>a:hover {
	background-color: #eee;
}

.navbar-nav {
	margin-top: 5px;
}

.btncss {
	font-size: 5px;
}